<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<description>
		</description>
		<display-name>ControleDeSessao</display-name>
		<servlet-name>ControleDeSessao</servlet-name>
		<servlet-class>ubhiya.Controller.ControleDeSessao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ControleDeTransacao</display-name>
		<servlet-name>ControleDeTransacao</servlet-name>
		<servlet-class>ubhiya.Controller.ControleDeTransacao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ImageSaver</display-name>
		<servlet-name>ImageSaver</servlet-name>
		<servlet-class>ubhiya.Controller.ImageSaver</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ControleDeBusca</display-name>
		<servlet-name>ControleDeBusca</servlet-name>
		<servlet-class>ubhiya.Controller.ControleDeBusca</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControleDeSessao</servlet-name>
		<url-pattern>/ControleDeSessao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleDeTransacao</servlet-name>
		<url-pattern>/ControleDeTransacao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageSaver</servlet-name>
		<url-pattern>/ImageSaver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControleDeBusca</servlet-name>
		<url-pattern>/ControleDeBusca</url-pattern>
	</servlet-mapping>
</web-app>
